
.user-page-container.cf
    
  .user-page-head.cf
    .user-header.cf  
      .avatar-user
        = image_tag avatar_url(@user)
      .user-name
        %h4= @user.name

      .score
        %P SCORE 
        .score-num
          %p #{@user.score}
    / = link_to "EDIT PROFILE", edit_user_registration_path
    / %br
    / = link_to 'INVITE', new_user_invitation_path

    .starred-tab.tab.active
      %p STARRED

    .posted-tab.tab
      %p ASKED

    .answered-tab.tab
      %p ANSWERED
    - if can? :invite, @user
      .invite-tab.tab
        %p INVITE

    - if can? :edit, @user
      .edit-tab.tab
        %p EDIT


  .user-page-content.cf

    .starred-content
      =render 'starred'

    .posted-content
      =render 'posted'

    .answered-content
      =render 'answered'
    
    
    .invite-content
      %h2 Invite Friends
      .invited-by
        - if @user.invited_by_id
          %p 
            #{@user.name} invited by 
            =link_to User.find(@user.invited_by_id).name, User.find(@user.invited_by_id)

      - if @user.invitation_limit == 0
        %p You must earn invitations
      - else
        %p Invitations remaining 
        .invite-number
          %p=@user.invitation_limit
      .invite-form
        =render "new"

    .edit-content
      =render "edit"



