%h4 Top Users 
%ul
  - @users.each do |user|
    %li
      - if user.name
        =link_to user.name, user
        = user.score
  = will_paginate @users, param_name: "user_page",:page_links => false, previous_label: "PREVIOUS", next_label: "NEXT"