.index-tab
  %ul
    - @users.each do |user|
      %li
        - if user.name
          =link_to user.name, user
          %p= pluralize(user.score, "Point")
    = will_paginate @users, param_name: "user_page",:page_links => false, previous_label: "PREVIOUS", next_label: "NEXT"