%h4 Top Questions
%ul
  - @topics.each do |topic|
    %li
      =link_to topic.question, topic
      Stars:
      = topic.votes_for
  = will_paginate @topics, param_name: "topic_page",:page_links => false, previous_label: "PREVIOUS", next_label: "NEXT"