.menu
  .q.top-q-tab.active
    %h3 Top Questions

  .q.unanswered-q-tab
    %h3 Unanswered Questions

  .q.top-users-tab
    %h3 Top Users

.top-questions-content
  #questions
    = render 'top_questions'

.top-users-content
  #top_users
    = render 'top_users'

.unanswered-questions-content
  #unanswered
    = render 'unanswered_questions'