%h2 Search results
.tab-content
  %ul
    - @topics.order("score DESC").each do |topic|
      %li.answer-head
        %h4=link_to topic.question, topic
        %p 
          = pluralize(topic.score, "Star")
        %p 
          = pluralize(topic.answers.count, "Answer")

        / %p By #{topic.user.name} 
