$main-color: #3a8ea0; 
$dark-text-color: rgba(0,0,0,0.58);
$orange-color: #FFAB58;

.footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 0.5em;
  padding-left: 2em;
  border-top: 2em solid #3a8ea0;
}