$main-color: #3a8ea0; 
$dark-text-color: rgba(0,0,0,0.58);
$orange-color: #FFAB58;

.menu {
  border-right: 2px solid $main-color;
  float: left;
  padding: 0em;
  padding-right: 2em;
  h3:hover {
    color:$orange-color;
  }
}

.index-content {
  padding-left: 0em;
}

.tab-content {
  padding-left: 2em;
  padding-top: 0em;
}

.index-tab {
  padding-bottom: 1em;
}


.top-q-tab {
  float: left;
}

.top-users-tab {
  float: left;
}

.logo img {
  width: 10em;
}
.logo {
  text-align: center;
  padding-bottom: 1em;
}