$main-color: #51C5DF; 
$dark-text-color: rgba(0,0,0,0.58);

html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: $main-color;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/************
* UTILITIES *
************/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/************
* SET BASIC SITE *
************/
.surf-container {

  p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    color: $dark-text-color;
  }
}

.site-header {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  h1{
    float:left;
  }
}



a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main, .head, .site-header{
  padding-left: 10em;
  padding-right: 10em;
}

.head {
  padding-top: 2em;
}

.head {
  background-color: $main-color;
}
.main{
  background-color: $main-color;
  padding-bottom: 2em;
  padding-top: 2em;
}

.inner-container {

  padding: 2em;
  background-color: white;
}

p {
  color: #fff;
}


/************
* LOG IN NAV *
************/
.user-login {
  float: right;
}

/************
* INPUT BOXS *
************/

input {
  border: none;
  background-color: white;
  color: $dark-text-color;
  letter-spacing: 0.1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.input-box input {
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  background-color: white;
  display: inline-block;
  border-radius: 0;
  border: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}
.twitter-typeahead {
  display: inline-block;
  width: 100%;
}

/************
* Main menu page - home#index *
************/

.menu .q {
  display: inline-block;
  padding: 1em;
  cursor: pointer;
}

.menu .active h3{
  font-weight: 500;
}

.menu h3, h4 {
  font-weight: 200;
}

.top-users-content, .unanswered-questions-content {
  display: none;
}

.pagination {
  background: white;
  cursor: default;
  }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 2px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $main-color;
    color: white;
    border: 2px solid $main-color; }
  .pagination a {
    text-decoration: none;
    color: $main-color;
    border: 2px solid $main-color; }
    .pagination a:hover, .pagination a:focus {
      color: $dark-text-color;
      border-color: $dark-text-color; }
  // .pagination .page_info {
  //   background: #2e6ab1;
  //   color: white;
  //   padding: 0.4em 0.6em;
  //   width: 22em;
  //   margin-bottom: 0.3em;
  //   text-align: center; }
    // .pagination .page_info b {
    //   color: #000033;
    //   background: #6aa6ed;
    //   padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
