$main-color: #3a8ea0; 
// $main-color: #ec8d44; 
$dark-text-color: rgba(0,0,0,0.58);
$orange-color: #ec8d44;

@font-face {
    font-family: 'capture_itregular';
    src: url('Capture_it-webfont.eot');
    src: url('Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('Capture_it-webfont.woff') format('woff'),
         url('Capture_it-webfont.ttf') format('truetype'),
         url('Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Maven Pro', sans-serif;
  // background-color: $main-color;
  background:url('surf_01.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  opacity:0.96;
}



h1, h2{
  font-family: capture_itregular;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, a {
  font-size: 1.1em;
}

#flash_timedout{
  display: none;
}

input:focus {
  outline: none;
}


/************
* UTILITIES *
************/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/************
* SET BASIC SITE *
************/
.surf-container {
  p, a, h1, h2, h3, h4, h5, h6 {
    margin: auto;
    padding: auto;
    color: $dark-text-color;
  }
  padding: 0em;
}

.site-header {
  background-color: white;

  // padding: 0em 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  h1{
    float:left;
  }
}


a:hover {
  text-decoration: none;
  color: $main-color;

}

h1 a:hover { color: $dark-text-color; }

ul {
  list-style: none;
}

.main, .head, .site-header{
  padding-left: auto;
  padding-right: auto;
}

.head {
  padding-top: 3em;
}

.head {
  // background-color: $main-color;
}
.main{
  // background-color: $main-color;
  padding: auto 5em;
  padding-bottom: 5em;

}

.inner-container {
  margin: auto 2em;
  padding: 3em 2em;
  background-color: white;
  min-height: 25em;
  border-radius: 0.3em;
}

p {
  color: #fff;
}

.header-margin{
  padding-bottom: 2em;
}

/************
* LOG IN NAV *
************/
.site-header {
  vertical-align: middle;
}

.user-login {
  float: right;
  font-size: 1.2em;
  padding-top: auto;
  
}

.user-login div {
  vertical-align: middle;
}

.icon-img {
  width: 2em;
  height: 2em;
}

.avatar-main{
  display: inline;

}

.avatar-main img{
  width: 2.5em;
  border-radius: 200px;
}

.avatar-user img {
  width: 5em;
  padding: auto;
  border-radius: 200px;
}

.icon {
  display: inline; 
  padding-left: 1em;
}

.icon {
  font-weight: bold;
}

/************
* INPUT BOXS & FORMS *
************/

input {
  border: none;
  background-color: white;
  color: $dark-text-color;
  letter-spacing: 0.1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.input-box input {
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  background-color: white;
  display: inline-block;
  border-radius: 0;
  border: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}
.twitter-typeahead {
  display: inline-block;
  width: 100%;
}

.devise-form {
  margin: 0 auto;
}

.devise-form {
  text-align: center;
  width: 50%;
  h2 {
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 0.5em;
  }

  input {
    width: 100%;
    padding: 1.5em;
    padding-left: 0em;
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
    box-shadow: none;
    &:focus{
      box-shadow: none;
      border-bottom: 1px solid #FFAB58;
    }
    &:hover{
      box-shadow: none;
      border-bottom: 1px solid #FFAB58;
    }
  }

  #user_avatar {
    padding: 2em;
    margin-bottom: 1em;
  }

  form {
    margin: 0 0%;
  }
}

.form-button input {
  font-size: 1.1em;
  padding: 1em;
  background-color: $main-color;
  color: white;
  font-weight: 300;
  text-transform:uppercase;
  &:hover{
      box-shadow: none;
      border:2px solid #FFAB58;
      background-color: white;
      color: #FFAB58
    }
}

.current-password {
  ::-webkit-input-placeholder {
    color: #FFAB58;
    font-size: 1.2em;
    font-weight: 300;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #FFAB58; 
    font-size: 1.2em;
    font-weight: 300; 
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #FFAB58; 
    font-size: 1.2em;
    font-weight: 300;
  }

  :-ms-input-placeholder {  
    color: #FFAB58;  
    font-size: 1.2em;
    font-weight: 300;
  }
}


// upload buttons
.file-upload {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-transform:uppercase;

}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.form-button {
  margin-top: 1em;
  font-size: 1.2em;
}

.checkbox{
  cursor: pointer;
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  background-color: $main-color;
  color: white;
  font-weight: 300;
  text-transform:uppercase;
  p { color: white;
      font-size: 1.2em;
    }

  &:hover{
      box-shadow: none;
      border:2px solid #FFAB58;
      background-color: white;
      
      p { color: #FFAB58;
        font-size: 1.2em;
      }
    }

}

.checkbox input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid black;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox input:checked {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox-yes{
  display: none;
}

.devise-form h3 {
  font-weight: 300;
  font-size: 1.3em;

}

.selected {
  box-shadow: none;
  border:2px solid #FFAB58;
  background-color: white;
  
  p { color: #FFAB58;}
}

.shared-links {
  padding-top: 1em;
  a:hover { color:#FFAB58 }
}

input:focus {

}
/************
* Main menu page - home#index *
************/

.menu .q {
  display: block;
  cursor: pointer;
  padding: 0 1em;
}

.menu .active h3{
  font-weight: 600;
  font-family:  capture_itregular;
}

.menu h3, h4 {
  font-weight: 200;
}

.top-users-content, .unanswered-questions-content {
  display: none;
  
}

.pagination {
  background: white;
  cursor: default;
  }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 2px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $main-color;
    color: white;
    border: 2px solid $main-color; }
  .pagination a {
    text-decoration: none;
    color: $main-color;
    border: 2px solid $main-color; }
    .pagination a:hover, .pagination a:focus {
      color: $dark-text-color;
      border-color: $dark-text-color; }
  // .pagination .page_info {
  //   background: #2e6ab1;
  //   color: white;
  //   padding: 0.4em 0.6em;
  //   width: 22em;
  //   margin-bottom: 0.3em;
  //   text-align: center; }
    // .pagination .page_info b {
    //   color: #000033;
    //   background: #6aa6ed;
    //   padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

// *********
// MORE NAV
// *********

#flash_alert {
  color:white;
  padding-left: 2em;
}

#flash_notice {
  color:white;
  padding-left: 2em;
}

a.search img {
  height: 2.4em;
  clear:both
}

.nav-icon img {
  height: 2.5em;
  clear:both
}
.icon img {
  height: 2.5em;
}




h1#logo-header a {
  font-family: capture_itregular;
  font-size: 1.5em;
  letter-spacing: 0.05em;

}
h1#logo-header a:hover {
  color: $orange-color;
}



