$main-color: #51C5DF;
$main-color-a: rgba(83,198,223,0.9); 

.tt-hint {
  background-color: $main-color;
}

.tt-dropdown-menu{
  width: 100%;
}

.tt-suggestion {
  background-color: rgba(250,250,250,0.95);
  padding: 1em;
  color: $main-color;
}

.tt-is-under-cursor {
  background-color: $main-color-a;
  font-weight: 600;
  font-size: 1.1em;
  border: 2px solid white
}


// /////////////////////////////
.search {
  cursor: pointer;
}

.close {
  font-size: 5em;
  cursor: pointer;
  // color: $main-color;
}

.close:hover{
  color: $main-color;
  font-weight: 800;
}

.overlay {
  position: fixed;
  top: 0  ; bottom: 0;
  right: 0; left: 0;
  display: none;
  background:$main-color;
  height: 100%
}

.overlay h1 {
  background-color: white;
  font-size: 4em;
  padding-left: 1em;
  padding-top: 0.5em;
}

.overlay form input{
  padding-top: 3em;
  padding-left: 3em;
}

.overlay {
  padding-bottom: 1em;
}

.overlay .close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  cursor: pointer;
  font-weight: 500;
  font-size: 5em;
  z-index: 40;
}

.input-box {
  background-color: white;
  padding-top: 1em;
}

.hide-me {
  float: left;
}
.hide-me input {
  visibility: hidden;
  padding: 0;
  margin: 0;
  background: none;
}

