$main-color: #51C5DF;
$main-color-a: rgba(83,198,223,0.9); 

// .tt-query {
//   color: $main-color;
//   background-color: $main-color;
// }

.tt-hint {
  background-color: $main-color;
}

.tt-dropdown-menu{
  width: 100%;
}

.tt-suggestion {
  background-color: rgba(250,250,250,0.95);
  padding: 1em;
  color: $main-color;
}

.tt-is-under-cursor {
  background-color: $main-color-a;
  font-weight: 600;
  font-size: 1.1em;
  border: 2px solid white
}


