$main-color-a: #3a8ea0; 
$main-color: #3a8ea0; 
$dark-text-color: rgba(0,0,0,0.58);
$orange-color: #ec8d44;

.user-page-content {
  float: left;
  padding-left: 1em;
  background: white;
  max-width: 40em;
  width: 70%;
  margin: 0 5%;

}

.user-page-head {
  min-width: 10em;
  width: 20%;
  background: white;
  float: left;
  padding-right: 1em;
  border-right: 2px solid $orange-color;
}

.active {
  font-weight: 500;
  p {color: $orange-color;}
}

.tab {
  padding: 0.5em 1em 0.5em 0em;
  cursor: pointer;
  font-size: 1.1em;
}

.tab :hover {
  font-weight: 600;
}

.user-header{
  padding-bottom: 1em;
}

.posted-content, .answered-content, .invite-content, .edit-content {
  display: none;
}

.score {
  padding-top:1em
}

.score-num p {
  font-size: 2em;
  font-weight: 100;
}

.user-name {
  padding-top: 1em;
  padding-bottom: 0em;
}


h2 {
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 0.5em;
  }

.invite-form {
  padding-top: 4em;
}

.invited-by {
  padding-top: 1em;
  padding-bottom: 1em;
}

.invite-number {
  padding-top: 1em;
  font-size: 2em;
  font-weight: 100;
  p{color: $orange-color;}
}

.tab-content {
  padding-top: 0em;
  li{ padding-bottom: 1em}
  ul{margin: 0;}
}

.topic-quesiton {
  padding-left: 0em;
}

.topic-answer {
  padding-top: 1em;
  p.answer {padding-left: 1em}
  p {padding-top: 0.5em;}
  h4 {display: inline}
}

.topic-user-image{
  max-width: 3em;
  padding-bottom: 1em;
  display: inline-block;
}

.answer-head{
  h4 {
    padding-bottom: 0.5em;
    // padding-top: 0.5em;
    // display: inline-block;
  }
}

.answer-number {
  font-size: 1.5em;
  padding-left: 2em;
  p {color: $orange-color;}
  display: inline-block;
}

p.answer {
  padding-left: 3em;
}

.topic-answer.asked {
  padding-top: 1em;
  h4 {padding-bottom: 0.5em;}
}
.topic-answer-head {
  display: inline-block;
}

%p.answer-score {
  display: inline-block;
}

.answer-score {
  h4 {display: inline-block;}
}

.answer-score{
  display: inline-block;
  padding-top: 1em;
}

.answer-number{
  display: inline-block;
  padding:0;
  padding-left: 0.5em;
}
.asked h5 {
  font-weight: 400;
  font-size: 1.2em;
}


.score-num {
  padding-top: 0.5em;
}


.user-page-container {
  padding-left: 2em;
}


.invite-form {
  margin-left: 0em;
  padding-top: 1em;
  width: 80%;
}

.edit-form {
  margin-left: 0em;
  width: 100%;
}





